
.main{
    height: 100%;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 5px 20px 10px #888888;
    background-color: #0988ea;
}
@media only screen and (max-width: 600px) {
    .main{
        width: 65%;
    }
}
h1{
    font-family: 'Inconsolata', monospace;
    font-size: 140%;
    text-align: center;
}
.all_input{
    display: flex;
    margin: auto;
    position: relative;
    background-color: #aafffc;
    padding: 5px; 
    margin-bottom: 5px;
    margin-top: 25px;
    width: 85%;
    color: #000;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 1px 5px ;
} 
.all_input:focus {
    outline: none;
    background-color: #faffff;
    color: black;
}
.input_field{
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
    border: none; 
    background-color: inherit;
    width: inherit;
}
.input_field:focus{
    outline: none; 
    background-color: inherit;
    width: inherit;
}
.fa-solid{
    align-items: center;
    display: flex;
    margin: 5px;
    margin-right: 10px;
}
.chck{
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
    color: black;
}
.checking{
    font-family: 'EB Garamond', serif;
    font-size: 80%;
    margin: 1px;
}

#spaceCheck, #match_pass{
    color: rgb(244, 174, 139);
    display: none;
    
}
#submit{
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    font-family: 'Inconsolata', monospace;
    /* font-size: 9px; */
    background-color: grey;
}
.showHide{
    font-family: 'EB Garamond', serif;
    float: left;
    margin: auto;
    margin-left: 10px;
    font-size: 80%;
    padding: 3px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#show1, #show2{
    width: 15%;
    background-color: #42ece6 ;
    color: black;
    border: none;
}
#show1:hover{
    background-color: black ;
    color: white;
}
#show2:hover{
    background-color: black ;
    color: white;
}
#hide1,#hide2{
    display: none;
    width: 15%;
    background-color: black;
    color: white;
}
#hide1:hover{
    background-color: #42ece6;
    color: black;
}
#hide2:hover{
    background-color: #42ece6;
    color: black;
}

.labels{
    font-size: 10px;
}
